@media(max-width:1300px) {
    .nav-left {
        width: 40%;
    }
}

@media(max-width:1100px) {
    #city-name {
        font-size: 80px;
    }

    .temperature span {
        height: 60%;
        width: 90%;
        font-size: 75px;
    }

    .feel span {
        height: 60%;
        width: 90%;
        font-size: 45px;
    }

    .humidity div {
        height: 70%;
        width: 30%;
        font-size: 25px;
    }

    .cloud {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cloud img {
        height: 90%;
        width: 90%;
    }
}

@media(max-width:975px) {
    .nav-left {
        width: 50%;
    }

    .humidity div {
        height: 70%;
        width: 30%;
        font-size: 22px;
    }

    .degree {
        font-size: 75px;
    }

    .like {
        font-size: 28px;
    }

    .tt {
        font-size: 75px;
    }

    .cc {
        font-size: 28px;
    }
}

@media(max-width:780px) {
    .name {
        font-size: 25px;
    }

    .degree {
        font-size: 65px;
    }

    .like {
        font-size: 25px;
    }

    .tt {
        font-size: 65px;
    }

    .cc {
        font-size: 25px;
    }

    .humidity div{
        font-size: 18px;
    }
}

@media(max-width:650px) {
    .nav {
        top: 15px;
    }

    .nav-left {
        width: 15%;
        justify-content: flex-start;
    }

    .nav-right {
        width: 80%;
    }

    .logo {
        width: 100%;
    }

    .name {
        display: none;
    }

    #city-name {
        padding: 0;
        font-size: 65px;
    }

    .humidity div {
        font-size: 18px;
    }

    .temperature span {
        font-size: 60px;
    }

    .feel span {
        font-size: 35px;
    }

    .nav {
        width: 90%;
    }

    .nav-left {
        width: 20%;
    }

    .logo img {
        height: 80%;
        width: 80%;
    }

    .degree {
        font-size: 55px;
    }

    .like {
        font-size: 22px;
    }

    .tt {
        font-size: 55px;
    }

    .cc {
        font-size: 22px;
    }
}

@media(max-width:550px) {
    .main-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .time_name {
        width: 95%;
        height: 30%;
        display: flex;
    }

    .cloud {
        height: 100%;
        width: 40%;
    }

    .time {
        height: 100%;
        width: 60%;
    }

    .weather {
        width: 95%;
        height: 60%;
    }

    #city-name {
        padding-left: 10px;
    }

    .nav {
        width: 90%;
    }

    .humidity div {
        font-size: 18px;
    }

    .degree {
        font-size: 50px;
    }

    .like {
        font-size: 20px;
    }

    .tt {
        font-size: 50px;
    }

    .cc {
        font-size: 20px;
    }

    .nav-right img {
        height: 35%;
    }
    
    .nav-right input {
        margin: 0;
        height: 10%;
    }
}

@media(max-width:380px) {
    #city-name {
        font-size: 55px;
    }

    .temperature span {
        font-size: 45px;
    }

    .feel span {
        font-size: 30px;
    }

    .humidity div {
        font-size: 14px;
    }

    .time_main {
        font-size: 60px;
    }

    .cloud img {
        height: 75%;
        width: 75%;
    }

    .nav-right input {
        margin: 0;
        height: 10%;
    }

    .nav-right img {
        height: 35%;
    }

    .degree {
        font-size: 35px;
    }

    .like {
        font-size: 18px;
    }

    .tt {
        font-size: 35px;
    }

    .cc {
        font-size: 18px;
    }
}